@keyframes hamburger {
    
}

@keyframes rotate {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}


@keyframes load {
    
    100% {
        stroke-dashoffset: 7000;
    }
}

